<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/css/style.css" />
        <title>Ko-World | register</title>
    </head>
    <!-- body -->
    <body>
        <div class="container">
            <img src="../assets/images/icon_04.png" alt="login icon" />
            <h2>Login – 1st round challenge</h2>
            <!-- Login form -->
            <div class="form">
                <ul>
                    <li><b>· Please, choose the one of the mirror servers to join 1st round challenge</b></li>
                </ul>
                <div class="select">
                    <button class="server active">Server01(12/30)</button>
                    <button class="server">Server05(07/30)</button>
                    <button class="server">Server08(07/30)</button>
                    <button class="server">Server02(22/30)</button>
                    <button class="server">Server06(02/30)</button>
                    <button class="server">Server10(08/30)</button>
                    <button class="server">Server03(10/30)</button>
                    <button class="server">Server07(11/30)</button>
                    <button class="server">Server11(11/30)</button>
                    <button class="server">Server04(10/30)</button>
                    <button class="server">Server05(27/30)</button>
                    <button class="server">Server12(01/30)</button>
                </div>
            </div>
            <!-- form 여러개 생길 때 -->
            <form class="mb100">
                <!-- Input your answer -->
                <div class="mb40">
                    <label for="answer" class="label w200">Input your answer</label>
                    <input type="text" id="answer" name="answer" class="input-style" />
                    <span>
                        <button class="btn-sm btn-default">save</button>
                    </span>
                </div>
                <!-- // Input your answer -->
                <!-- The file of solving -->
                <div class="mb40">
                    <label for="file" class="label w200">The file of solving</label>
                    <input type="text" id="file" name="file" class="input-style" />
                    <span>
                        <button class="btn-sm btn-default">attatch</button>
                    </span>
                </div>
                <!-- // Input your answer -->
            </form>
            <!-- // form 여러개 생길 때 -->
            <!-- form 여러개 생길 때 -->
            <form class="mb100">
                <!-- Input your answer -->
                <div class="mb40">
                    <label for="answer" class="label w200">Input your answer</label>
                    <input type="text" id="answer" name="answer" class="input-style" />
                    <span>
                        <button class="btn-sm btn-default">save</button>
                    </span>
                </div>
                <!-- // Input your answer -->
                <!-- The file of solving -->
                <div class="mb40">
                    <label for="file" class="label w200">The file of solving</label>
                    <input type="text" id="file" name="file" class="input-style" />
                    <span>
                        <button class="btn-sm btn-default">attatch</button>
                    </span>
                </div>
                <!-- // Input your answer -->
            </form>
            <!-- // form 여러개 생길 때 -->
            <!-- form 여러개 생길 때 -->
            <form class="mb100">
                <!-- Input your answer -->
                <div class="mb40">
                    <label for="answer" class="label w200">Input your answer</label>
                    <input type="text" id="answer" name="answer" class="input-style" />
                    <span>
                        <button class="btn-sm btn-default">save</button>
                    </span>
                </div>
                <!-- // Input your answer -->
                <!-- The file of solving -->
                <div class="mb40">
                    <label for="file" class="label w200">The file of solving</label>
                    <input type="text" id="file" name="file" class="input-style" />
                    <span>
                        <button class="btn-sm btn-default">attatch</button>
                    </span>
                </div>
                <!-- // Input your answer -->
            </form>
            <!-- // form 여러개 생길 때 -->
            <!--  // Login form -->
            <!-- 등록버튼 -->
            <div class="btn-center">
                <button class="btn-default">register</button>
            </div>
            <!-- // 등록버튼 -->
        </div>
    </body>
    <!-- // body -->
</html>
