<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            /* .form {
                background-color: #e9e9e9;
                border-radius: 10px;
                padding: 10px 20px 10px 20px;
            } */
            input[type='number']::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .btn-default {
                padding: 6px 18px !important;
            }
            .btn-default {
                margin: 0px !important;
            }
        </style>
        <link rel="stylesheet" href="/node_modules/datatables/media/css/jquery.dataTables.css" />
        <script type="text/javascript" src="/node_modules/datatables/media/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
        <!--<link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.js" /> -->
        <script type="text/javascript" src="../../assets/js/challenge/teamscore.js"></script>
        <title>Ko-World | Team score</title>
    </head>
    <!-- body -->

    <body>
        <div class="container">
            <img src="../assets/images/icon_05.png" alt="login icon" />
            <h2>Team Score – 1st Round</h2>
            <div class="row" style="justify-content: flex-end">
                <div class="col-sm-2">
                    <select id="select_option" class="form-select" aria-label="Default select example">
                        <option value="userName" selected>User name</option>
                        <option value="grading">grading required</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" id="search_keyword" name="search_keyword" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="teamscore.serarch();">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form">
                <ul>
                    <li><b>· Highschool Student</b></li>
                </ul>
                <table class="table" id="highTable">
                    <caption class="hidden">
                        Highschool Student
                    </caption>
                    <colgroup>
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Nationality</th>
                        <th>Email</th>
                        <th>Answer</th>
                        <th>File</th>
                        <th>Score</th>
                        <th>Ranking</th>
                    </thead>
                    <tbody id="highSchool"></tbody>
                </table>
            </div>

            <div class="form">
                <ul>
                    <li><b>· College Student</b></li>
                </ul>
                <table class="table" id="collegeTable">
                    <caption class="hidden">
                        Highschool Student
                    </caption>
                    <colgroup>
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Nationality</th>
                        <th>Email</th>
                        <th>Answer</th>
                        <th>File</th>
                        <th>Score</th>
                        <th>Ranking</th>
                    </thead>
                    <tbody id="college"></tbody>
                </table>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#answerModal">
        Launch demo modal
    </button> -->
        <div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="answerModal">Answer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="userAnswer">
                            <!-- <div class="col-12">1. 답1</div>
                            <div class="col-12">2. 답2</div> -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <!-- // body -->
</html>
