<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ko-World | Team score</title>
    </head>
    <!-- body -->
    <body>
        <div class="container">
            <img src="../assets/images/icon_05.png" alt="login icon" />
            <h2>Team Score – 1st Round</h2>
            <!-- HighSchool Student -->
            <div class="form">
                <ul>
                    <li><b>· Highschool Student</b></li>
                </ul>
                <table class="table">
                    <caption class="hidden">
                        Highschool Student
                    </caption>
                    <colgroup>
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <thead>
                        <th>Number</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Nationality</th>
                        <th>Email</th>
                        <th>Answer</th>
                        <th>File</th>
                        <th>Score</th>
                        <th>Ranking</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>gildong</td>
                            <td>gildong</td>
                            <td>2022.01.01</td>
                            <td>REPUBLIC OF KOREA</td>
                            <td>gildong@gmail.com</td>
                            <td><a href="">popup</a></td>
                            <td><a href="">download</a></td>
                            <td><input type="text" class="tb-input" /></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>gilddong</td>
                            <td>gilddong</td>
                            <td>2022.01.01</td>
                            <td>REPUBLIC OF KOREA</td>
                            <td>gilddong@gmail.com</td>
                            <td><a href="">popup</a></td>
                            <td><a href="">download</a></td>
                            <td><input type="text" class="tb-input" /></td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- // HighSchool Student -->
            <!-- College Student -->
            <div class="form">
                <ul>
                    <li><b>· College Student</b></li>
                </ul>
                <table class="table">
                    <caption class="hidden">
                        Highschool Student
                    </caption>
                    <colgroup>
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <thead>
                        <th>Number</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Nationality</th>
                        <th>Email</th>
                        <th>Answer</th>
                        <th>File</th>
                        <th>Score</th>
                        <th>Ranking</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>gildong</td>
                            <td>gildong</td>
                            <td>2022.01.01</td>
                            <td>REPUBLIC OF KOREA</td>
                            <td>gildong@gmail.com</td>
                            <td><a href="">popup</a></td>
                            <td><a href="">download</a></td>
                            <td><input type="text" class="tb-input" /></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>gilddong</td>
                            <td>gilddong</td>
                            <td>2022.01.01</td>
                            <td>REPUBLIC OF KOREA</td>
                            <td>gilddong@gmail.com</td>
                            <td><a href="">popup</a></td>
                            <td><a href="">download</a></td>
                            <td><input type="text" class="tb-input" /></td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- // College Student -->
            <!-- 등록버튼 -->
            <div class="btn-center">
                <button class="btn-default">register</button>
            </div>
            <!-- // 등록버튼 -->
        </div>
    </body>
    <!-- // body -->
</html>
