<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            /* .form {
                background-color: #e9e9e9;
                border-radius: 10px;
                padding: 10px 20px 10px 20px;
            } */
        </style>
        <link rel="stylesheet" href="/node_modules/datatables/media/css/jquery.dataTables.css" />
        <script type="text/javascript" src="/node_modules/datatables/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="../../assets/js/challenge/teamscore.js"></script>
        <title>Ko-World | Team score</title>
    </head>
    <!-- body -->
    <body>
        <div class="container">
            <img src="../assets/images/icon_05.png" alt="login icon" />
            <h2>Team Score – 1st Round</h2>
            <!-- HighSchool Student -->
            <div class="form">
                <ul>
                    <li><b>· Highschool Student</b></li>
                </ul>
                <table class="table" id="highTable">
                    <caption class="hidden">
                        Highschool Student
                    </caption>
                    <colgroup>
                        <!-- <col width="" /> -->
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <thead>
                        <!-- <th>Number</th> -->
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Nationality</th>
                        <th>Email</th>
                        <th>Answer</th>
                        <th>File</th>
                        <th>Score</th>
                        <th>Ranking</th>
                    </thead>
                    <tbody id="highSchool"></tbody>
                </table>
            </div>
            <!-- // HighSchool Student -->
            <!-- College Student -->
            <div class="form">
                <ul>
                    <li><b>· College Student</b></li>
                </ul>
                <table class="table" id="collegeTable">
                    <caption class="hidden">
                        Highschool Student
                    </caption>
                    <colgroup>
                        <!-- <col width="" /> -->
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <thead>
                        <!-- <th>Number</th> -->
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Nationality</th>
                        <th>Email</th>
                        <th>Answer</th>
                        <th>File</th>
                        <th>Score</th>
                        <th>Ranking</th>
                    </thead>
                    <tbody id="college"></tbody>
                </table>
            </div>
            <!-- // College Student -->
            <!-- 등록버튼 -->
            <!-- <div class="btn-center">
                <button class="btn-default">register</button>
            </div> -->
            <!-- // 등록버튼 -->
        </div>
    </body>
    <!-- // body -->
</html>
