<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
        <script type="text/javascript" src="node_modules/datatables/media/js/jquery.dataTables.js"></script>
        <title>Ko-World</title>
    </head>
    <!-- body -->
    <body>
        <!-- main -->
        <div class="main">
            <p class="hidden">The 5th Ko-World International Hacking Competition</p>
            <p class="hidden">“ Ko-World 2022 registration is now open! ”</p>
            <!-- 스폰서, 후원 -->
            <div class="list">
                <p>Supported by</p>
                <ul>
                    <li><img src="assets/images/ci_img01.png" alt="Ministry of Employment and Labor" /></li>
                    <li><img src="assets/images/ci_img02.png" alt="Korea Polytechnics" /></li>
                    <li><img src="assets/images/ci_img03.png" alt="Dubai Block Chain Center" /></li>
                    <li><img src="assets/images/ci_img04.png" alt="Seoul Ganseo Campus of Korea Polytechnic" /></li>
                </ul>
            </div>
            <div class="list">
                <p>Sponsored by</p>
                <ul>
                    <li><img src="assets/images/ci_img05.png" alt="NIS" /></li>
                    <li><img src="assets/images/ci_img06.png" alt="Korea Internet Security Agency" /></li>
                    <li><img src="assets/images/ci_img07.png" alt="KiVAV" /></li>
                    <li><img src="assets/images/ci_img08.png" alt="NCSA" /></li>
                    <li><img src="assets/images/ci_img09.png" alt="A-NEX Korea" /></li>
                </ul>
            </div>
            <!-- 스폰서, 후원 -->
        </div>
        <!-- main -->
    </body>
    <!-- // body -->
</html>
