<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- meta %> <%- style %>
        <title>Ko-World | About Ko-World 2022</title>
    </head>
    <%- include('header') %>
    <body>
        <%- body %>
    </body>
</html>
