<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- meta %> <%- style %>
        <title>Ko-World | About Ko-World 2022</title>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    </head>
    <!-- header -->
    <header class="header">
        <h1>
            <a href="/">
                <img src="/assets/images/index.png" alt="Ko-World International Hacking Competition" />
            </a>
        </h1>
        <nav class="nav">
            <a href="/sub/about" class="">About Ko-World 2022</a>
            <a href="/sub/qa">Q&A</a>
            <% if(isLogin) { %>
            <a href="/challenge">Challenge</a>
            <%} else {%> <%}%>
        </nav>
        <!-- 등록, 로그인 -->
        <div class="btn-set">
            <% if(isLogin) { %>
            <button class="phill blue" onclick="location.href = '/#'"><%=username %></button>
            <button class="phill blue" onclick="location.href = '/logout'">LogOut</button>
            <%} else {%>
            <button class="phill blue" onclick="location.href = '/account/register'">Register</button>
            <button class="phill blue" onclick="location.href = '/account/login'">Login</button>
            <%}%>
        </div>
        <!-- // 등록, 로그인 -->
    </header>
    <!-- // header -->

    <body>
        <%- body %>
    </body>
</html>
