<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css" >
  <title>Ko-World | About Ko-World 2022</title>
</head>
<!-- header -->
<!-- body -->
<body>
  <div class="container">
    <img src="../assets/images/icon_01.png" alt="shiled icon">
    <h2>About Ko-World 2022</h2>
    <p class="sub mb100">Ko-World 2022 is an annually competition for hackers to test, evaluate, and expand their cryptography exploiting skills.<br /> 
      Since 2017 Korea Polytechnics KangSeo Campus in the Republic of Korea has been holding a competition. <br />
      In this Ko-World 2022 we will provides various security challenges regarding recent issues of serious vulnerabilities. <br /><br />
      We look forward to sharing knowledge and communicating through the active participation of experts from global communities.</p>
    <!-- when -->
    <div class="form">
      <h3>When</h3>
      <ul>
        <li>· Registration : 4 ~ 22 July 2022(On-line)</li>
        <li>· 1st Round : <span class="txt-red">25 July~9 September 2022(On-line)</span></li>
        <li>· 2rd Round : 11~14 October 2022, <span class="txt-blue underline">Dubai BCC(Block Chain Center, Off-line)</li></li>
        <li class="pl10 underline">※ Full support for the 6 teams advancing to the finals.</li>
      </ul>
    </div>
    <!--  // when -->
    <!-- Rules -->
    <div class="form">
      <h3>Rules</h3>
      <ul>
        <li class="txt-red">· CTF(Jeopardy ??)</li>
        <li class="txt-red">· A team can consist of only one person as a college student OR high school students</li>
      </ul>
    </div>
    <!--  // Rules -->
    <!-- Prizes -->
    <div class="form">
      <h3>Prizes</h3>
      <ul>
        <li>· 1st place : 16,000 USD (\KRW 20 Million Won , 1 Team)</li>
        <li>· 2nd place : 8,000 USD (\KRW 10 Million Won , 1 Team)</li>
        <li>· 3rd place : 4,000 USD (\KRW 5 Million Won , 1 Team)</li>
        <li>· 4th place : 2,000 USD (\KRW 3 Million Won, 3 Teams)</li>
          
      </ul>
    </div>
    <!--  // Prizes -->
    <!-- Contacts -->
    <div class="form">
      <h3>Contacts</h3>
      <ul>
        <li>· Should any questions arise, please contact us at</li>
        <li class="txt-red">· Q&A : </li>
        <li>· E-mail : hslee01@kopo.ac.kr </li>
      </ul>
    </div>
    <!--  // Contacts -->
  </div>
</body>
<!-- // body -->
</html>