<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/css/style.css" />
        <title>Ko-World | Q&A</title>
    </head>
    <!-- header -->
    <header class="header">
        <h1>
            <a href="/">
                <img src="../assets/images/index.png" alt="Ko-World International Hacking Competition" />
            </a>
        </h1>
        <nav class="nav">
            <a href="/sub/about" class="">About Ko-World 2022</a>
            <a href="/sub/qa">Q&A</a>
        </nav>
        <!-- 등록, 로그인 -->
        <div class="btn-set">
            <button class="phill blue" onclick="location.href = '/account/register'">Register</button>
            <button class="phill blue" onclick="location.href = '/account/login'">Login</button>
        </div>
        <!-- // 등록, 로그인 -->
    </header>
    <!-- // header -->
    <!-- body -->
    <body>
        <div class="container">
            <img src="../assets/images/icon_02.png" alt="question icon" />
            <h2>Q&A</h2>
            <div>테이블들어가는곳</div>
            <!--  // Contacts -->
        </div>
    </body>
    <!-- // body -->
</html>
