<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style></style>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <script type="text/javascript" src="/assets/js/sub/qa_write.js"></script>
        <title>Ko-World | Q&A</title>
        <style>
            textarea {
                width: 50%;
                height: 100px;
            }
        </style>
    </head>
    <!-- body -->
    <body>
        <div class="container">
            <img src="/assets/images/icon_02.png" alt="question icon" />
            <h2>Q&A - Q&A registration</h2>
            <form id="qaRequestForm">
                <!-- title -->
                <div class="mb40">
                    <label for="title" class="label w200">Title</label>
                    <input type="text" id="title" name="title" class="input-style" />
                </div>
                <!-- // title -->
                <!-- content -->
                <div class="mb40">
                    <label for="Text" class="label w200">content</label>
                    <textarea class="input-style" id="content" name="content"></textarea>
                </div>
                <!-- // content -->
            </form>
        </div>
        <!-- 등록버튼 -->
        <div class="btn-center">
            <button class="btn-default" onclick="qaWritePage.qaNullChk()">request</button>
        </div>
        <!-- // 등록버튼 -->
    </body>
    <!-- // body -->
    <script></script>
</html>
